body {
    margin: 0px;
    padding: 0px;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

#left-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 20px;
}

#right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin: 20px;
}

#header nav {
    margin: 15px;
}

#main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    top: 50px;
    justify-content: center;
    align-items: center;
}

#google-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 92px;
    margin: 10px;
}

#search-field {
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 500px;
}

#submit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    text-align: center;
}

button {
    height: 30px;
    width: auto;
    margin: 20px;
}

#footer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
}